{% extends 'base.html' %}

{% block title %}UniConX | Forum{% endblock %}

{% block main %}
<div class="container">
    <h1>Discussion Forum</h1>
    <div id="posts">
        <!-- Posts will be dynamically added here -->
        <h2>Posted Discussions</h2>
        <ul>
            {% for post, email in posts %}
                <li>
                    <div class="discuss-box">
                        <strong>{{ post.title }}</strong> by <u>{{ email }}</u><br>
                        {{ post.post_date_time }}<br>
                        {{ post.content }}<br>
                    </div>
                    {% if current_user.is_authenticated %}
                    <form method="post" action="{{ url_for('delete_post', post_id=post.post_id) }}">
                        <button type="submit">Delete</button>
                    </form>
                    {% endif %}
                </li>
                {% endfor %}
        </ul>
    </div>
    {% if current_user.is_authenticated %}
    <hr>
    <div id="new-post">
        <form method="post" action="{{ url_for('forum') }}">
            <h2>Create a New Post</h2>
            <label for="post-title">Title: </label>
            <input type="text" name="title" id="post-title" placeholder="Title" required>
            <br>
            <label for="post-content">Post Content: </label>
            <textarea id="post-content" name="content" placeholder="Post Content" required></textarea>
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
    {% else %}
    <hr>
    <button onclick="window.location.href=`{{ url_for('login') }}`">Login</button>
    <button onclick="window.location.href=`{{ url_for('create_account_form') }}`">Create an Account</button>
    {% endif %}
</div>
<br>
{% endblock %}