{% extends 'base.html' %}

{% block title %}UniConX | Login{% endblock %}

{% block body %}
<div class="form-element">
    <form action="" method="post"></form>
        <h1><strong>LOGIN</strong></h1>
        <label for="username-login">Email Address:</label>
        <input id="username-login" type-="text" name="username-login" required placeholder="youremail@email.com"/><br>
        <label for="password-login">Password:</label>
        <input id="password-login" type-="password" name="password-login" required placeholder="********"/><br>
        <input type="submit" value="Login"  class="submit" name="submit">
        <p>Don't have an account? <a href="{{ url_for('index') }}">Sign Up</a></p>
    </div>
</div>
{% endblock %}